
<div>
  Color: <ColorPicker @value={{ this.thing.myThing.color }} @onChange={{ this.onChange }} />
  </div>
  <div>
Negative color: <ColorPicker @value={{ this.thing.myThing.negativeColor }} @onChange={{ this.onChangeNegative }} />

</div>